.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.Home__image {
  width: 100%;
  background: linear-gradient(to bottom rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: -1;
  margin-bottom: -150px;
}

.Home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
